version: '3.8'

services:
  discord-bot:
    build: .
    container_name: alert_minecraft_capes
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10mb"
        max-file: "3"